@import "../../../src/styles/base/variables";
body {
  background-color: rgb(248, 247, 247);
}

.seccionform1 {
  display:flex;
  justify-content: space-around;
  //padding: 5px;
  margin: 15px;
 
    &__left{
      width: 50%;
      color:$primary-color;
      //font-weight: bold;
      font-weight: 600;
      font-size: $font-size-s;
      }

    &__input {
      width: 70%;
      padding-top: 5px;
      border-radius: 5px;
      font-size: $font-size-xs;
    }

    &__right{
      width: 50%;
      color:$primary-color;
      font-weight: bold;
      font-size: $font-size-s;
    }
}


.seccionform2 {
  display:flex;
  justify-content: space-around;
  padding: 10px;
  margin: 15px;
 
    &__left{
      width: 50%;
      color:$primary-color;
      //font-weight: bold;
      font-weight: 600;
      font-size: $font-size-s;
      }

    &__input {
      width: 70%;
      padding-top: 5px;
      border-radius: 5px;
      font-size: $font-size-xs;
    }

    &__right{
      width: 50%;
      color:$primary-color;
      font-weight: bold;
      font-size: $font-size-s;
    }
}

.seccionform3 {
  display:flex;
  justify-content: space-around;
  padding: 10px;
  margin: 15px;
 
    &__left{
      width: 50%;
      color:$primary-color;
      //font-weight: bold;
      font-weight: 600;
      font-size: $font-size-s;
      }

    &__input {
      width: 70%;
      padding-top: 5px;
      border-radius: 5px;
      font-size: $font-size-xs;
    }

    &__right{
      width: 50%;
      color:$primary-color;
      font-weight: bold;
      font-size: $font-size-s;
    }
}


.adjuntar {
  font-size: $font-size-xs;
  padding: 20px;
  font-weight: 500;

  &__input {
    width: 30%;
    padding-top: 5px;
    font-size: $font-size-xs;
  }
}

.botones {
  display:flex;
  //justify-content: space-around;
  padding: 40px;
  font-size: $font-size-s;  
  cursor:pointer;
  text-decoration: none;
  justify-content: space-around;
  
    &__primario{
      color: black;
      border-radius: 10px;
      width: 15%;
      height: 30px;
      margin-right: 10px;
      font-weight: 700;
      background-color: rgb(150, 150, 243);
      text-decoration: none;
      align-items: center;
    }

    &__secundario {
      color: black;
      width: 15%;
      height: 30px;
      border-radius: 10px;
      margin-right: 10px;
      cursor:pointer;
      font-weight: 700;
      background-color: rgb(37, 37, 235);
      text-decoration: none;
      align-items: center;
    }
  }