@import "../../../src/styles/base/variables";
body {
  background-color: rgb(248, 247, 247);
}

.form {
  font-family: $font-tertiary;
  display: flex;
  flex-direction: column;
  font-size: $font-size-sr;
  color: $primary-color;
  font-weight: 500;
  padding: 0px 100px 0px 100px;
  align-items: center;
}

.group1 {
  display: inline-flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  margin-left: 40px;

<<<<<<< HEAD
    &__input{
        margin-left: 82px;
        width: 70%;
        font-size: $font-size-sr;
        padding: 5px;
        text-align: center;
        appearance: auto;
        border: 1px solid black;
        border-radius: 10px;
    }
=======
  &__input {
    margin-left: 82px;
    width: 70%;
    font-size: $font-size-sr;
    padding: 5px;
    text-align: center;
    appearance: auto;
  }
>>>>>>> 545766cf3c72417d851e657e951e881ba9925576
}
