@import "../../../src/styles/variables";

.navbar {
  background-color: #a3bfc0;
  margin-top: 5px;
  //padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  height: 35px;

  &__title {
    color:$primary-color;
    font-size: $font-size-lr;
    font-weight: 800;
  }

    
  &__button{
   background-color: rgb(79, 79, 228);
    font-size: $font-size-s;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600; 
    margin-right: 5%;
    text-decoration: none;
    padding: 10px;

    &:hover{
      background-color:rgb(14, 140, 145);
      
    }
  }

}

.secciones {
  display:flex;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  

  &__left{
    width: 40%;
    color:$primary-color;
    //font-weight: bold;

    &__h2 {
      font-size: $font-size-m;
      font-weight: 700;
    }

    &__p{
      color:rgb(2, 2, 54);
      width: 40%;
      height: 30px;
      padding-left: 10px;
      background-color: rgb(206, 199, 199);
      padding-top: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    &__ideas {
      padding-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }
  }

  &__right{
    width: 90%;
    color:$primary-color;
    font-weight: bold;
    margin-right: 5%;
  }
}

.seccionesCard{
  display:flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  margin: 10px;
  color: black;
  width: 100%;
  font-size: $font-size-st;
}












@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 10px 0;
  }

  .navbar__links {
    margin-top: 10px;
    justify-content: center;
  }

  .navbar--title {
    margin: 0 10px;
  }

  .navbar--li {
    margin: 0 10px;
  }

  .navbar--a {
    margin: 0 10px;
  }

  .navbar--button {
    margin: 0 10px;
  }
}


@media screen and (min-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .navbar--title {
    font-size: 30px;
  }

  .navbar--li {
    margin-left: 20px;
  }
}