@import "../../styles/base/variables";

.group1 {
    display: flex;
    flex-direction: column;
    //align-items: center;
    //margin-left: 40px;

        &__input{
            width: 40%;
            font-size: $font-size-sr;
            appearance: auto;
            border: 1px solid black;
            border-radius:15px;
        }
}
