@import "../../styles/variables";

.card {
    width: 250px;
    background-color: rgb(206, 199, 199);
    border-radius: 10px;
    padding: 10px;

    &__info{
        display: flex;
        gap:30px;
        justify-content: space-around;
        align-items: center;
        margin-top: 60px;
    }
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

.contenido{
    display: flex;
    padding-top: 20px;
    overflow: hidden;

    &__p{
        font-weight: 200;
        font-size: $font-size-st;
        display: block;
        font-size: 16px;
    }

    &__img {
        width: 100px;
      
    }
}

