@import "../../styles/base/variables";

.area{
    //display: flex;
    font-size: $font-size-sr;
    border: 2px solid black;
    resize: none;
    width: 600px;
    height: 180px;
   //justify-content: center;
    float: right; 
    margin-right: 10px; 

    &__text{
        //display: inline-block;
        font-size: $font-size-st;
        padding: 0px;
        margin: 0;
        float: right;
        color: black;
       //background-color: red;
    }
}

