@import "../../styles/base/variables";

.area{
    font-size: $font-size-sr;
    border: 2px solid black;
    resize: none;
    width: 90%;
    height: 250px;
    float: right; 
    margin-right: 10px; 

    &__text{
        font-size: $font-size-st;
        padding: 0px;
        margin: 0;
        float: right;
        color: black;
    }
}

