@import "../../styles/base/variables";

.area{
    display: flex;
    border: 2px solid black;
    resize: none;
    width: 850px;
    height: 120px;
   justify-content: center;
    

    &__text{
        display: inline-block;
        font-size: $font-size-st;
        padding: 0px;
        margin: 0;
        float: right;
        color: black;
       //background-color: red;
    }
}

