@import "../../../src/styles/base/variables";

.titulo {
    font-family: $font-primary;
    font-size: $font-size-xl;
    color:$primary-color;
    text-align: center;
    padding: 20px 0px 0px 0px;
    border-radius: 15px;
    border: 1px solid #0738aa;
    padding: 30px 30px;
    margin: 20px;
}